#{% set ACCE = { 
'SPRINGSOURCE_DEVELOPER': 'SPRINGSOURCE_DEVELOPER ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin',
'SPRINGSOURCE_DEV': 'SPRINGSOURCE_DEV ALL = (ALL) SPRINGSOURCE_DEV_CMD',
'ELAIB_DEV': 'ELAIB_DEV ALL = (ALL) SPRINGSOURCE_DEV_CMD,/usr/bin/systemctl status solr, /usr/bin/systemctl start solr, /usr/bin/systemctl stop solr',
'SPRING_ADMIN': 'SPRING_ADMIN  ALL = (ALL) SPRINGSOURCE_ADMIN_CMD',
'DBA_DEV': 'DBA_DEV  ALL = (ALL) SUORACLE_DEFAULT,/bin/su - applmgr, /bin/su applmgr, /bin/su - applmgralt, /bin/su applmgralt, /usr/bin/su - infasvc, SUAPEXAPP, /usr/bin/sh checkjdni.sh *,/usr/bin/sh log4jremediation.sh *,/bin/sh log4jremediation.sh *',
'DBA_INFA': 'DBA_INFA  ALL = (ALL) SUORACLE_DEFAULT,/bin/su - infasvc, /bin/su infasvc',
'DOCKERPORTALADMIN': 'DOCKERPORTALADMIN ALL = (ALL) NOPASSWD: WEBLOGIC, /bin/su hqadmin, /bin/su - hqadmin, /usr/bin/su hqadmin, /usr/bin/hqadmin/su hqadmin,SUJIVE, SUMODELN, /usr/bin/systemctl * docker, /usr/bin/docker , /bin/docker ',
'NEO_DEV': 'NEO_DEV  ALL = (ALL) /bin/su - neo4j, /bin/su neo4j',
'SHIBD_DEV': 'SHIBD_DEV ALL = (ALL) NOPASSWD:SHIBD',
'DBA_RAC_ROOT': 'DBA_RAC_ROOT  ALL = (ALL) ALL',
'DEPLOYJIVE_READONLY': 'DEPLOYJIVE_READONLY ALL = (ALL) NOPASSWD:DEPLOYJIVE_CMDS',
'DEV_DOCKER': 'DEV_DOCKER ALL = (ALL) NOPASSWD:DEV_DOCKER_CMD,/bin/su - gemfire, /bin/su gemfire',
'PORTAL_ADMIN': 'PORTAL_ADMIN ALL=(ALL)  NOPASSWD: WEBLOGIC, /bin/su hqadmin, /bin/su - hqadmin, /usr/bin/su hqadmin, /usr/bin/hqadmin/su hqadmin',
'DEV_TEAM': 'DEV_TEAM ALL !ROOTPASSWD,!SUROOT,!VISHADOW,!ROOTONLY,!BOUNCE,NOPASSWD:DOCKER_CMD,GEMFIRE_CMDS',
'WEBLOGIC': 'WEBLOGIC ALL = (ALL) NOPASSWD:WEBLOGIC',
'VISL_DEV': 'VISL_DEV ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin',
'SUDOHQADMIN_READONLY': 'SUDOHQADMIN_READONLY ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin',
'RELEASE_ADMIN': 'RELEASE_ADMIN ALL = (ALL) SUDEPLOY, /bin/su hqadmin, /bin/su - hqadmin',
'WEBADMIN': 'deployadmin ALL=(ALL) NOPASSWD:/bin/su hqadmin, /bin/su - hqadmin',
'MWADMIN_READONLY': 'deployadmin ALL=(ALL) NOPASSWD: SUORACLE',
'INFADEVELOPER': 'INFADEVELOPER  ALL = (ALL) INFADEVELOPERCMDS',
'INFADEVELOPER_READONLY': 'INFADEVELOPER_READONLY  ALL = (ALL) INFADEVELOPERREADONLY',
'INFADEVELOPER_SUINFA': 'INFADEVELOPER_SUINFA  ALL = (ALL) INFADEVELOPERCMDS',
'INFA_NO_SUINFA': 'INFA_NO_SUINFA ALL = (ALL) INFA_NO_SUINFA_CMD',
'FMSOA_DEV': 'FMSOA_DEV ALL = (ALL) FMCMDS, SUORACLE',
'BIADMIN_READONLY': 'BIADMIN_READONLY ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin, /bin/su - tomcat,/bin/su  tomcat, /usr/bin/su hqadmin, /usr/bin/su - hqadmin, /usr/bin/su - tomcat, /usr/bin/su  tomcat,  /bin/su biadmin, /bin/su - biadmin, /bin/su - cbr-dev-ssh',
'FMSOA_DEV_BOOMI' : 'FMSOA_DEV_BOOMI ALL = (ALL) /usr/bin/su - boomi, /usr/bin/su boomi,/usr/sbin/tcpdump *, /usr/bin/strace *',
'MODELN_DEV': 'MODELN_DEV ALL = (ALL) NOPASSWD:SUMODELN',
'CATALYST_DEV': 'CATALYST_DEV ALL = (ALL) ALL,!ROOTONLY_DEV',
'CONFADMIN': 'CONFADMIN ALL = ALL, !ROOTONLY_DEV',
'ARTCOMPADMIN_READONLY': 'ARTCOMPADMIN_READONLY ALL = (ALL) NOPASSWD:ALL,!ROOTONLY_DEV',
'MYSQLDBA_ADMIN': 'MYSQLDBA_ADMIN ALL=(mysql) NOPASSWD:DBTASKS,/usr/bin/su - postgres,/usr/bin/su postgres',
'MYSQLDBA_DEV': 'MYSQLDBA_DEV      ALL = (ALL) DBTASKS,/usr/bin/su - postgres,/usr/bin/su postgres',
'POSTGRESSADMIN': 'POSTGRESSADMIN ALL = (ALL) NOPASSWD:POSTGRESSADMIN,/bin/su - postgres, /bin/su postgres,/usr/bin/systemctl status postgresql, /usr/bin/systemctl stop postgresql,/usr/bin/systemctl start postgresql',
'TAKEADMIN': 'TAKEADMIN  ALL = (ALL) /usr/bin/systemctl status nginx, /usr/bin/systemctl start nginx, /usr/bin/systemctl stop nginx, /usr/bin/systemctl restart nginx',
'FMIDM_DEV': 'FMIDM_DEV ALL = (ALL) NOPASSWD:FMIDMCMD, SUORACLE, /usr/sbin/tcpdump',
'CHAOSADMIN_READONLY': 'CHAOSADMIN_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'MIDDLEWARE_READONLY': 'MIDDLEWARE_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'WEBGATE_IDM': 'WEBGATE_IDM ALL = (ALL) SUORACLE_DEFAULT',
'CBRADMIN': 'CBRADMIN ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin, /bin/su - tomcat,/bin/su  tomcat, /usr/bin/su hqadmin, /usr/bin/su - hqadmin, /usr/bin/su - tomcat, /usr/bin/su  tomcat,  /bin/su biadmin, /bin/su - biadmin, /bin/su - cbr-dev-ssh',
'CBRREPO_READONLY': 'CBRREPO_READONLY ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin,/usr/bin/su hqadmin, /usr/bin/su - hqadmin',
'REDISADMIN' : 'REDISADMIN ALL = (ALL) REDISADMIN',
'REVSSO_ADMIN': 'REVSSO_ADMIN ALL = (ALL) ALL, !ROOTONLY',
'OBIEEADMIN': 'OBIEEADMIN  ALL = (ALL) SUORACLE_DEFAULT',
'RELEASEADHOC': 'RELEASEADHOC ALL = (ALL) ALL,!ROOTONLY_DEV',
'DEPLOYADMIN_READONLY': 'DEPLOYADMIN_READONLY ALL=(ALL) NOPASSWD:/opt/sbin/deployscripts/apache_deploy.sh, /opt/sbin/deployscripts/apache_reload.sh, /bin/su hqadmin, /bin/su - hqadmin, /usr/bin/su hqadmin, /usr/bin/su - hqadmin,/opt/sbin/deployscripts/nginx_deploy.sh, /opt/sbin/deployscripts/nginx_reload.sh',
'DEPLOYADMIN_ORA_READONLY': 'DEPLOYADMIN_ORA_READONLY ALL=(ALL) NOPASSWD:/bin/su oracle, /usr/bin/su - oracle',
'HQADMIN_READONLY': 'HQADMIN_READONLY ALL=(ALL) NOPASSWD:/bin/su deployadmin, /bin/su - deployadmin, /usr/bin/su deployadmin, /usr/bin/su - deployadmin, /usr/bin/systemctl * aem, /usr/bin/perl /opt/aem/vmworld/bin/aemsync.pl -env *, /usr/bin/perl /opt/aem/myvmware/bin/aemsync.pl -env *',
'IMPACT_HQADMIN_READONLY': 'IMPACT_HQADMIN_READONLY ALL=(ALL) /usr/bin/su hqadmin, /usr/bin/su - hqadmin',
'HYPADMIN_READONLY': 'HYPADMIN_READONLY ALL=(ALL) /bin/su hypadmin,/bin/su - hypadmin',
'INTERNAL_APP_DEV': 'INTERNAL_APP_DEV        ALL = (ALL) ALL,!ROOTONLY_DEV,/etc/init.d/httpd configtest,/etc/init.d/httpd graceful,/usr/bin/systemctl * httpd,/bin/systemctl * httpd,/sbin/service httpd *, /usr/sbin/service httpd *,/usr/bin/vi /etc/httpd/conf.d/*',
'INTERNAL_APP_DEV_READONLY': 'INTERNAL_APP_DEV_READONLY  ALL = (ALL) SUDEPLOY',
'INTERNAL_APP_ROOT_READONLY': 'INTERNAL_APP_ROOT_READONLY ALL = (ALL) ALL,!ROOTONLY',
'AEMADMIN': 'AEMADMIN ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin',
'BLOGSDEV': 'BLOGSDEV ALL = (ALL) ALL,!ROOTONLY_DEV',
'INTERNAL_APP_DC': 'INTERNAL_APP_DC  ALL = (ALL) ALL,!ROOTONLY_DEV',
'BOOMIADMIN': 'BOOMIADMIN ALL = (ALL) /bin/su - boomi, /bin/su boomi, /usr/bin/su - boomi, /usr/bin/su boomi, /usr/bin/su - root, /usr/bin/su root,/usr/sbin/tcpdump *, /usr/bin/strace *',
'ETM_DEV': 'ETM_DEV ALL = (ALL) !ROOTONLY,ALL',
'ETM_DEV_RW': 'ETM_DEV_RW ALL = (ALL) /bin/su hqadmin, /bin/su - hqadmin, /usr/bin/su - hqadmin, /usr/bin/su hqadmin',
'ETM_DEV_RO': 'ETM_DEV_RO ALL = (ALL) SPRINGSOURCE_DEV_CMD',
'MONGOADMIN': 'MONGOADMIN ALL = (ALL) ALL,!ROOTONLY_DEV',
'MONGOADMIN_READONLY': 'MONGOADMIN_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'TELEGRAFADMIN': 'TELEGRAFADMIN ALL = (ALL) NOPASSWD:TELEGRAFADMIN_CMD',
'GEMFIRE_DEV' : 'GEMFIRE ALL=(ALL) GEMFIRE_CMDS',
'ELKADMINGRP': 'ELKADMINGRP ALL = (ALL) /usr/bin/su - elasticsearch, /usr/bin/su elasticsearch, /usr/bin/su - logstash, /usr/bin/su logstash,/usr/bin/su - kibana, /usr/bin/su kibana, /usr/bin/systemctl start elasticsearch.service, /usr/bin/systemctl stop elasticsearch.service,/usr/bin/su appadmin, /usr/bin/su - appadmin,/usr/bin/systemctl status filebeat, /usr/bin/systemctl stop filebeat,/usr/bin/systemctl start filebeat,/usr/bin/tail,/usr/bin/vi /etc/filebeat/filebeat.yml',
'VMWPLATFORM_ADMIN': 'VMWPLATFORM_ADMIN ALL = (ALL) ALL, !ROOTONLY_DEV',
'MIDDLEWARE_ADMIN': 'MIDDLEWARE_ADMIN ALL = (ALL) NOPASSWD:MIDDLEWAREADM_CMND, /usr/sbin/tcpdump *,/usr/bin/strace *',
'IAM_ADMIN': 'IAM_ADMIN ALL = (ALL) ALL, !ROOTONLY_DEV',
'MONADMINSDEV': 'MONADMINSDEV ALL = (ALL) MONADMINSDEVCMDS',
'INFA_ADMIN': 'INFA_ADMIN ALL = (ALL) INFAADM_CMND, !ROOTONLY_DEV',
'BIADMIN': 'BIADMIN ALL = (ALL) ALL,!ROOTONLY_DEV',

'ELKADMINGRP_READONLY': 'ELKADMINGRP_READONLY  ALL = (ALL) ALL,!ROOTONLY_DEV',
'HRAPPS_ADMIN': 'HRAPPS_ADMIN ALL = (ALL) ALL,!ROOTONLY_DEV',
'SOAADMIN': 'SOAADMIN ALL = (ALL) /usr/bin/su appadmin, /usr/bin/su - appadmin, /bin/su - rmquser, /bin/su rmquser, /usr/bin/su - rmquser, /usr/bin/su rmquser, /usr/bin/systemctl status telegraf, /usr/bin/systemctl start telegraf, /usr/bin/systemctl stop telegraf, /usr/bin/systemctl restart telegraf, /usr/bin/vi /etc/telegraf/*, /usr/bin/tail /var/log/telegraf/*, /usr/bin/view /var/log/telegraf/*,/usr/bin/systemctl status zookeeper,/usr/bin/systemctl status kafka,/usr/bin/systemctl stop zookeeper,/usr/bin/systemctl start zookeeper,/usr/bin/systemctl restart zookeeper,/usr/bin/systemctl stop kafka,/usr/bin/systemctl start kafka,/usr/bin/systemctl restart kafka, /usr/bin/tail /var/log/*, /usr/bin/view /var/log/*, /usr/bin/tail -f /var/log/*',
'BIGIDADMIN_READONLY': 'BIGIDADMIN_READONLY ALL = (ALL) NOPASSWD:DOCKCMD,/opt/bigid/compose/run-bigid-ext-mongo-slim.sh,/opt/bigid/compose/run-bigid-ext-mongo.sh,/usr/bin/vim /opt/bigid/compose/*,/usr/bin/vi /opt/bigid/compose/*',
'CHAOSADMIN_READONLY': 'CHAOSADMIN_READONLY ALL = (ALL) /bin/su - chaos, /bin/su chaos, /usr/bin/su - chaos, /usr/bin/su chaos',
'COLL_ADMIN': 'COLL_ADMIN ALL = (ALL) ALL',
'DBASGOLDADMIN_READONLY': 'DBASGOLDADMIN_READONLY ALL = (ALL) ALL',
'DBASGOLD_READONLY': 'DBASGOLD_READONLY  ALL = (ALL) ALL,!ROOTONLY_DEV',
'JENKINS_ADMIN': 'JENKINS_ADMIN ALL = (ALL) ALL,!ROOTONLY',
'MYLEARN_READONLY': 'MYLEARN_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'FMWTMPROOT_READONLY': 'FMWTMPROOT_READONLY ALL = (ALL) ALL',
'KONGADMIN': 'KONGADMIN ALL = (ALL) NOPASSWD:ALL,!ROOTONLY_DEV',
'API_GATEWAY_READONLY': 'API_GATEWAY_READONLY ALL = (ALL) ALL,!ROOTONLY',
'KONGACCESS_READONLY': 'KONGACCESS_READONLY ALL = (ALL) NOPASSWD: /usr/bin/systemctl * kubelet, /usr/bin/systemctl * docker, /usr/bin/kubectl , /usr/bin/kubeadm , /usr/bin/docker , /bin/docker , /bin/systemctl * kubelet, /usr/bin/systemctl * etcd, /usr/sbin/tcpdump',
'CONTROLM': 'CONTROLM ALL = (ALL) ALL,!ROOTONLY',
'CTMADMINGRP':'CTMADMINGRP ALL = (ALL) NOPASSWD:CTMADMINGRPCMD',
'GS_READONLY': 'GS_READONLY ALL = (ALL) ALL',
'LISA_READONLY': 'LISA_READONLY ALL = (ALL) ALL',
'ECROPSDB_READONLY':  'ECROPSDB_READONLY       ALL = (ALL) /bin/su e_crops-db_us, /bin/su - e_crops-db_us',
'EBS_APP_DEV_READONLY': 'EBS_APP_DEV_READONLY      ALL = (ALL) /bin/su  appldev2,/bin/su - appldev2,/bin/su - appldev1,/bin/su - appldev3,/bin/su - applmgr',
'DSCIENCE_ADMIN_READONLY': 'DSCIENCE_ADMIN_READONLY     ALL = (ALL) ALL,!ROOTONLY',
'ANALYTICSDEV_READONLY': 'ANALYTICSDEV_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'CTMADMINGRP_READONLY': 'CTMADMINGRP_READONLY ALL = (ALL) /usr/bin/su - ctmhyp, /usr/bin/su ctmhyp,/usr/bin/su - ctmem,/usr/bin/su ctmem,/usr/bin/su - ctmsvr,/usr/bin/su ctmsvr, /usr/bin/su - ctmagent, /usr/bin/su ctmagent, /apps/ctmagent/ctm/scripts/start-ag, /apps/ctmagent/ctm/scripts/shut-ag, !ROOTONLY_DEV',
'SUCTMHYP_READONLY': 'SUCTMHYP_READONLY ALL = (ALL) /bin/su - ctmhyp',
'DSSERVER_READONLY': 'DSSERVER_READONLY  ALL = (ALL) ALL,!ROOTONLY_DEV',
'SRCXROOT_READONLY': 'SRCXROOT_READONLY ALL = (ALL)  ALL,!ROOTONLY_DEV',
'SONR_READONLY': 'SONR_READONLY ALL = (ALL) ALL',
'TAPADMIN_READONLY': 'TAPADMIN_READONLY ALL = (ALL) NOPASSWD:DOCKCMD',
'AUTOSUPPORT': 'AUTOSUPPORT ALL = (ALL) NOPASSWD:ALL',
'VAULT_READONLY': 'VAULT_READONLY ALL = (ALL) ALL,!ROOTONLY',
'VEADMIN_READONLY': 'VEADMIN_READONLY ALL = (ALL)  /bin/su vewebuser, /bin/su - vewebuser, /usr/bin/su vewebuser, /usr/bin/su - vewebuser',
'DEVSCOPS_SSC_READONLY': 'DEVSCOPS_SSC_READONLY ALL = (ALL) ALL',
'SPRINGSOURCE_DEV_READONLY': 'SPRINGSOURCE_DEV_READONLY ALL = (ALL) SPRINGSOURCE_DEV_CMD,SPRINGSOURCE_ADMIN_CMD',
'DEVSCOPS_ADMIN_READONLY': 'DEVSCOPS_ADMIN_READONLY ALL = (ALL) ALL',
'VSANTOOLS_READONLY': 'VSANTOOLS_READONLY ALL = (ALL) ALL,!ROOTONLY,/usr/bin/su - pewebuser,/usr/bin/su pewebuser',
'VSANTOOLS_GURU': 'VSANTOOLS_GURU ALL = (ALL) ALL,!ROOTONLY,/usr/bin/su - pewebuser,/usr/bin/su pewebuser',
'SC_DEV_READONLY': 'SC_DEV_READONLY ALL = (ALL) ALL,!ROOTONLY',
'VFCADMIN_READONLY': 'VFCADMIN_READONLY ALL = (ALL) ALL,!ROOTONLY',
'VFCADMIN1_READONLY': 'VFCADMIN1_READONLY ALL = (ALL) ALL',
'ITSOX_READONLY': 'ITSOX_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'VELP_READONLY': 'VELP_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'MKTG_READONLY': 'MKTG_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'ELKADMIN_READONLY': 'ELKADMIN_READONLY ALL = (ALL) /usr/bin/su appadmin, /usr/bin/su - appadmin, /bin/su - rmquser, /bin/su rmquser, /usr/bin/su - rmquser, /usr/bin/su rmquser',
'LOGSTASHADMINGRP_READONLY': 'LOGSTASHADMINGRP_READONLY ALL = (ALL) /usr/bin/su - logstash, /usr/bin/su logstash,/usr/bin/su - appadmin, /usr/bin/su appadmin',
'IGNITE_DEV_READONLY': 'IGNITE_DEV_READONLY ALL = (ALL) IGNITE_CMD',
'INTEGRATION_READONLY': 'INTEGRATION_READONLY ALL = (ALL) ALL,!ROOTONLY',
'CDF_DEVELOPER': 'CDF_DEVELOPER ALL = (ALL) ALL,!ROOTONLY',
'CDF_DOCSVMWARE': 'CDF_DOCSVMWARE ALL = (ALL) ALL,!ROOTONLY',
'ELK_DEVELOPER': 'ELK_DEVELOPER ALL = (ALL) /usr/bin/su - elasticsearch, /usr/bin/su elasticsearch, /usr/bin/su - logstash, /usr/bin/su logstash,/usr/bin/su - kibana, /usr/bin/su kibana, /usr/bin/systemctl start elasticsearch.service, /usr/bin/systemctl stop elasticsearch.service,/usr/bin/su appadmin, /usr/bin/su - appadmin,/usr/bin/systemctl status filebeat, /usr/bin/systemctl stop filebeat,/usr/bin/systemctl start filebeat,/usr/bin/tail',
'DEV_SWARM_READONLY': 'DEV_SWARM_READONLY ALL = (ALL) ALL',
'DEVSWARM': 'DEVSWARM ALL = (ALL) ALL,!ROOTONLY_DEV,/usr/bin/systemctl reload nginx,/usr/bin/systemctl status nginx',
'MGOAUTO_ADMIN': 'MGOAUTO_ADMIN ALL = (ALL) /bin/su - mongod, /bin/su mongod',
'MAVEN_READONLY': 'MAVEN_READONLY ALL = (ALL) ALL',
'DATASCI_ADMIN' : 'DATASCI_ADMIN ALL = (ALL) ALL',
'SLDEVADMIN_READONLY' : 'SLDEVADMIN_READONLY ALL = (ALL) /usr/bin/su - elasticsearch, /usr/bin/su elasticsearch, /usr/bin/su - logstash, /usr/bin/su logstash,/usr/bin/su - kibana, /usr/bin/su kibana, /usr/bin/systemctl start elasticsearch.service, /usr/bin/systemctl stop elasticsearch.service,/usr/bin/su appadmin, /usr/bin/su - appadmin,/usr/bin/systemctl status filebeat, /usr/bin/systemctl stop filebeat,/usr/bin/systemctl start filebeat,/usr/bin/tail, /bin/su hqadmin, /bin/su - hqadmin, /usr/bin/su hqadmin, /usr/bin/su - hqadmin',
'WELLBNG_READONLY': 'WELLBNG_READONLY ALL = (ALL) SUDEPLOY, /bin/su hqadmin, /bin/su - hqadmin',
'DRUSER_READONLY': 'DRUSER_READONLY ALL = (ALL)  /bin/su oracle, /bin/su - oracle',
'WEBWCM_READONLY': 'WEBWCM_READONLY ALL = (ALL) NOPASSWD:/opt/sbin/deployscripts/apache_deploy.sh, /opt/sbin/deployscripts/apache_reload.sh,/etc/init.d/httpd configtest,/etc/init.d/httpd graceful,/usr/bin/systemctl * httpd,/bin/systemctl * httpd,/sbin/service httpd *, /usr/sbin/service httpd *,/etc/init.d/ejabberd *,/sbin/service ejabberd *,/etc/init.d/tomcat *,/sbin/service tomcat *,/etc/init.d/lifechecker *, /bin/su - deployadmin, /bin/su deployadmin',
'AVI_READONLY': 'AVI_READONLY ALL = (ALL) NOPASSWD:/usr/bin/python3,/opt/sbin/aviproject/avi_controller.py',
'CONFDBA_READONLY': 'CONFDBA_READONLY ALL = (ALL) ALL, !ROOTONLY_DEV',
'INFASVC_READONLY': 'INFASVC_READONLY ALL = (ALL) NOPASSWD:ALL',
'EA_READONLY': 'EA_READONLY ALL = (ALL) ALL,!ROOTONLY_DEV',
'NGXNPRD_ADMIN': 'NGXNPRD_ADMIN ALL = (ALL) /usr/bin/vi /etc/nginx/conf.d/virtual.conf, /usr/bin/systemctl stop nginx, /usr/bin/systemctl start nginx, /usr/bin/systemctl restart nginx',
}%}{% extends "saltstack/vra-terraform/saltstates/sudo/files/sudo.jinja" %}
