##################{% set USERA = {

'SPRINGSOURCE_DEVELOPER': 'User_Alias SPRINGSOURCE_DEVELOPER = %springsource-dev',
'SPRINGSOURCE_DEV': 'User_Alias SPRINGSOURCE_DEV = %springsource-dev',
'SPRING_ADMIN': 'User_Alias SPRING_ADMIN = %springsource-prod',
'DBA_DEV': 'User_Alias DBA_DEV  = %oracledba,%oracledba-dev',
'DBA_INFA': 'User_Alias DBA_INFA  = %oracledba,%oracledba-dev',
'NEO_DEV': 'User_Alias NEO_DEV  = %oracledba,%oracledba-dev',
'SHIBD_DEV': 'User_Alias SHIBD_DEV = shibuser',
'DBA_RAC_ROOT': 'User_Alias DBA_RAC_ROOT  = %oracledba,%oracledba-dev',
'PORTAL_ADMIN': 'User_Alias PORTAL_ADMIN  = %portaladmin,%g.portaladmin-dev',
'DEV_DOCKER': 'User_Alias DEV_DOCKER = %portaladmin,%gemfire-dev,%gemfire',
'WEBLOGIC': 'User_Alias WEBLOGIC = %weblogic-grp',
'VISL_DEV': 'User_Alias VISL_DEV = %visl-dev',
'RELEASE_ADMIN': 'User_Alias RELEASE_ADMIN = %release-admin,g.devops-release-admins',
'RELEASEADHOC': 'User_Alias RELEASEADHOC = %release-admin,g.devops-release-admins',
'WEBADMIN': 'User_Alias WEBADMIN = deployadmin',
'INFADEVELOPER': 'User_Alias INFADEVELOPER = %infa-admin,%g.infa-developers-grp',
'INFA_NO_SUINFA': 'User_Alias INFA_NO_SUINFA = %g.infa-developers-grp,%infa-dev',
'INFADEVELOPER_SUINFA': 'User_Alias INFADEVELOPER_SUINFA = %g.infa-developers-grp,%infa-dev,%infa-admin',
'FMSOA_DEV': 'User_Alias FMSOA_DEV = %fmsoa-dev',
'FMSOA_DEV_BOOMI': 'User_Alias FMSOA_DEV_BOOMI = %fmsoa-dev, %IT-Middleware-Admin',
'MODELN_DEV': 'User_Alias MODELN_DEV = %modeln-dev,deployadmin,%portaladmin,%g.portaladmin-dev',
'CATALYST_DEV': 'User_Alias CATALYST_DEV = %catalyst-dev',
'MYSQLDBA_ADMIN': 'User_Alias MYSQLDBA_ADMIN = %mysqldba-prod',
'MYSQLDBA_DEV': 'User_Alias MYSQLDBA_DEV = %mysqldba-dev',
'POSTGRESSADMIN': 'User_Alias POSTGRESSADMIN = %mysqldba-dev',
'TAKEADMIN': 'User_Alias TAKEADMIN = takeuser,mammar,dpany',
'FMIDM_DEV': 'User_Alias FMIDM_DEV = %fmidm-dev, %fmidm-prod,%g.it-iam,%g.it-iam-oam',
'WEBGATE_IDM': 'User_Alias WEBGATE_IDM  = %g.it-iam-oam-uat, %g.it-iam-oam',
'CBRADMIN' : 'User_Alias CBRADMIN = %cbradmin-grp, %cbradmintest,%rabbitadmin',
'REDISADMIN': 'User_Alias REDISADMIN = %springsource-dev, %portaladmin,%g.IT-Performance',
'INTERNAL_APP_DEV': 'User_Alias INTERNAL_APP_DEV   = %internal-app-dev,%g.ent-integration-dev',
'INTERNAL_APP_DC': 'User_Alias INTERNAL_APP_DC   = %g.aiml',
'INTERNAL_APP_ROOT': 'User_Alias INTERNAL_APP_ROOT = tprashanthku,ddmdg_user',
'AEMADMIN': 'User_Alias AEMADMIN   = %aemdev,%aemadmins',
'AEMDEV': 'User_Alias AEMDEV   = %IT-L2PortalSupport-grp',
'BLOGSDEV': 'User_Alias BLOGSDEV   = %internal-app-dev,%g.it-dm-social,%blogsdev',
'BOOMIADMIN': 'User_Alias BOOMIADMIN = %g.vmw-boomi-sso,%fmsoa-dev,g.avi-devops-mw-admins',
'ETM_DEV': 'User_Alias ETM_DEV = %it-etm-dev-grp',
'ETM_DEV_RW': 'User_Alias ETM_DEV_RW = %it-etm-dev-grp',
'ETM_DEV_RO': 'User_Alias ETM_DEV_RO = %it-etm-dev-grp',
'INFAFTP': 'User_Alias INFAFTP = %infaftp_grp',
'MONGOADMIN': 'User_Alias MONGOADMIN = %g.mongodbadmin,%g.mongodbdba',
'MONGOADMIN_READONLY': 'User_Alias MONGOADMIN_READONLY = pkrishnamurthy',
'INFADEVELOPER_READONLY': 'User_Alias INFADEVELOPER_READONLY = sasaurav ,rsaurabhd,smadhumitha,rajamuthua,dcj,hkudlisathya,nsalehvaziri,knagabandi,rmindaguditi,shuklaak,arijits',
'TELEGRAFADMIN': 'User_Alias TELEGRAFADMIN = rbrao,gstephen',
'GEMFIRE_DEV' : 'User_Alias GEMFIRE = %gemfire-dev',
'ELKADMINGRP' : 'User_Alias ELKADMINGRP = %g.app.admins,%g.app.users,%elk-admin',
'ELKADMIN_READONLY' : 'User_Alias ELKADMIN_READONLY = %g.gtm_elk_nonprod',
'SOAADMIN': 'User_Alias SOAADMIN = %fmsoa-dev,%fmsoa-prod',
'BI_DEVELOPER': 'User_Alias BI_DEVELOPER = %g.bi-developers',
'BIADMIN_READONLY': 'User_Alias BIADMIN_READONLY = sawanta,amukhopadhyay',
'CDF_DEVELOPER': 'User_Alias CDF_DEVELOPER = %g.IT_ROCS',
'CDF_DOCSVMWARE': 'User_Alias CDF_DOCSVMWARE = %g.DocsVmware',
'EA_READONLY': 'User_Alias EA_READONLY = maging',
'ARTCOMPADMIN_READONLY': 'User_Alias ARTCOMPADMIN_READONLY = svc.infa_automation,aghatage,gkulkarni',
'KONGADMIN': 'User_Alias KONGADMIN  = %fmsoa-dev, %IT-Middleware-Admin, svc.appintdevmon',
'CONTROLM': 'User_Alias CONTROLM = %control-m',
'CTMADMINGRP': 'User_Alias CTMADMINGRP = %control-m',
'REVSSO_ADMIN': 'User_Alias REVSSO_ADMIN = %fmidm-dev, %fmidm-prod',
'HRAPPS_ADMIN': 'User_Alias HRAPPS_ADMIN = %g.hr-benefits-dev',
'AUTOSUPPORT': 'User_Alias AUTOSUPPORT = %g.appssupport-automation',
'ELK_DEVELOPER': 'User_Alias ELK_DEVELOPER = %g.srm-elasticsearch',
'DEVSWARM': 'User_Alias DEVSWARM = %g.devops-automation',
'VMWPLATFORM_ADMIN': 'User_Alias VMWPLATFORM_ADMIN = %g.vmwvalplatform',
'MIDDLEWARE_ADMIN': 'User_Alias MIDDLEWARE_ADMIN = %g.avi-devops-mw-admins',
'IAM_ADMIN': 'User_Alias IAM_ADMIN = %g.auth-devtest',
'MONADMINSDEV': 'User_Alias MONADMINSDEV = %10monadmins',
'INFA_ADMIN': 'User_Alias INFA_ADMIN = %g.it-infamdm-admin,%g.it-infamdm-dev',
'CONFADMIN' : 'User_Alias CONFADMIN = %g.atlassian-support',
'OBIEEADMIN' : 'User_Alias OBIEEADMIN = %obieeadmin',
'BIADMIN': 'User_Alias BIADMIN = %g.fsl_bip_server_group',
'NGXNPRD_ADMIN': 'User_Alias NGXNPRD_READONLY = %fmsoa-dev',
'DOCKERPORTALADMIN': 'User_Alias DOCKERPORTALADMIN  = %portaladmin,%g.portaladmin-dev',
'VSANTOOLS_READONLY': 'User_Alias VSANTOOLS_READONLY = kadhikari, vsubbaraju, vthota, jpatgar, sinamadugu, singhavinash, kamrita, svaibhavsing, cmittapalli, ajeyarajap, gangan,rreddykotaga,akamatagi,shridharh',
'EBS_APP_DEV_READONLY': 'User_Alias EBS_APP_DEV_READONLY  = imohammed, purush, jnath, upadhyayr, mbattula, kkurapati, rbrahmanandan, kanurip, rchoppadandi, dparswanath, mathurs, pravkumar, srachepalli, rsagiraju, mehtap, amarjitg, amenon, jaggarawal',
'DSCIENCE_ADMIN_READONLY': 'User_Alias  DSCIENCE_ADMIN_READONLY = vprasanthka, ranjanim, dpanova, nikolovp, rkothapalli, dubrangala, pnedelev, avikapoor, simrath, nkumar2, rajanp, hristoh, kvadhri, aseshs, vpallath, reddykowalur, ranjanim, svc.eda-gs-auto, rgiridhar, schandraseka, apiyush, sitharamk, mlops, bartakkem, pallathv, josephni',
'ANALYTICSDEV_READONLY': 'User_Alias ANALYTICSDEV_READONLY = dubrangala, arunmozhia, gothen, csoni, alokkumar, sradhakrishn, rayp, ngothe, rkondapalli, anishm, nniranjan, sandeepkrishna, jclee, aagarwala, vvanaparthy, ssunka, swastikaa,bkoulapur,guruprasannas',
'CTMADMINGRP_READONLY': 'User_Alias CTMADMINGRP_READONLY = ank,arunp,racharjee,dboinpally,sbrahmaiah,ffrancis,jveeraraghav,stanikki',
'SUCTMHYP_READONLY': 'User_Alias SUCTMHYP_READONLY = ctmhyp,arunp,dboinpally,sbrahmaiah,ffrancis,jveeraraghav,stanikki,svc.it-dr',
'DSSERVER_READONLY': 'User_Alias DSSERVER_READONLY = dparvanov,lconstantino,manojrai,rstudio,shiny,tjanik',
'ECROPSDB_READONLY': 'User_Alias ECROPSDB_READONLY   = vraina, plim, cng',
'GS_READONLY': 'User_Alias GS_READONLY = abewley,pjimmy,cknowles,mcaulfield,ashok,iectools',
'API_GATEWAY_READONLY': 'User_Alias API_GATEWAY_READONLY = bratnabharathi, mpindiprolu, dhurjatis, ddegefa, shanumanthu, iyengara, yseethalakshmi, rajamuthua, vpatnaik',
'KONGACCESS_READONLY': 'User_Alias KONGACCESS_READONLY  = kongadmin,svc.appintdevmon',
'KONGLOGINACCESS_READONLY': 'User_Alias KONGLOGINACCESS_READONLY  = rdeodurg,syr,asanivarapu,atejankar',
'AUTOMATIONQAUSER_READONLY': 'User_Alias AUTOMATIONQAUSER_READONLY = automationqauser',
'SPRINGSOURCE_DEV_READONLY': 'User_Alias SPRINGSOURCE_DEV_READONLY = jkn,fayazsi,aspierling,dyordan,umohd,yonkovi,tyagisw,sjimil',
'JIVE_READONLY': 'User_Alias JIVE_READONLY = jive',
'LISA_READONLY': 'User_Alias LISA_READONLY = lisa',
'MODELN_READONLY': 'User_Alias MODELN_READONLY = modeln',
'HYPADMIN_READONLY': 'User_Alias HYPADMIN_READONLY = rasubramania,skuchi,anilnk,jayachandrag,shshubham,anilreddy,drudolph',
'ORAOSB_READONLY': 'User_Alias ORAOSB_READONLY = abagga',
'ODYSSEY_READONLY': 'User_Alias ODYSSEY_READONLY = svc.saasiteng',
'TAKEADMIN_READONLY': 'User_Alias TAKEADMIN_READONLY = takeuser,mammar,dpany',
'INTERNAL_APP_DEV_READONLY': 'User_Alias INTERNAL_APP_DEV_READONLY = aspierling,idjangarov,kkapustin,dyordan',
'INTERNAL_APP_ROOT_READONLY': 'User_Alias INTERNAL_APP_ROOT_READONLY = tprashanthku,ddmdg_user,aaithal,ksivareddy,tdian,mchorghe,rupeshs1,slinga',
'DEPLOYADMIN_READONLY': 'User_Alias DEPLOYADMIN_READONLY = deployadmin',
'DEPLOYADMIN_ORA_READONLY': 'User_Alias DEPLOYADMIN_ORA_READONLY = deployadmin',
'HQADMIN_READONLY': 'User_Alias  HQADMIN_READONLY = hqadmin',
'IMPACT_HQADMIN_READONLY': 'User_Alias  IMPACT_HQADMIN_READONLY = ddahan ,cminihan ',
'DEPLOYJIVE_READONLY': 'User_Alias DEPLOYJIVE_READONLY = deployadmin',
'PORTAL_LOCAL_READONLY': 'User_Alias PORTAL_LOCAL_READONLY = darumugamku,pamalraj',
'ELKADMINGRP_READONLY': 'User_Alias ELKADMINGRP_READONLY = prasadj,sthutika,apetluri,rajeshprasad',
'LOGSTASHADMINGRP_READONLY': 'User_Alias LOGSTASHADMINGRP_READONLY = wuem,manoramak,kanikag,upadhyayr,pramasamy,arathnasamy,athangavelan,rvignesh,kmeenaravich,dishukla,vnandanwar,jaithwara',
'BIGIDADMIN_READONLY': 'User_Alias BIGIDADMIN_READONLY = camposo,anandabhishe,manabhanjant,sdmello,gnanamanimo',
'WEB_READONLY': 'User_Alias WEB_READONLY = rkv,akashg,arusev,vallampatil,dyordan,tfilev,idjangarov,akjain',
'MWADMIN_READONLY': 'User_Alias MWADMIN_READONLY = deployadmin',
'CHAOSADMIN_READONLY':  'User_Alias CHAOSADMIN_READONLY = petkovp, slavid, ttrendafilov, rmuppidi, sabebe, ramamohanr, vivekj, arjunakshab, dheffelfinger',
'BOOMI_READONLY': 'User_Alias BOOMI_READONLY = avarsha, msable, shubhamsh, rsritharan, jriya, payan',
'CDF_SFTP_READONLY': 'User_Alias CDF_SFTP_READONLY = svc.cdfnonprodsftp,skrishnaredd,amarnathp',
'COLL_ADMIN': 'User_Alias COLL_ADMIN = amukhopadhyay,sawanta',
'COLL_READONLY': 'User_Alias COLL_READONLY = amukhopadhyay,sawanta,eduardoantom',
'JENKINS_ADMIN': 'User_Alias JENKINS_ADMIN = gtomer',
'DBASGOLD_READONLY': 'User_Alias DBASGOLD_READONLY= aminuddinm ,nageshkumarr ,nmandagiri ,pkusumba ,subramanik ,sushanthv ,svc.vhealth ,svudhya ,venkataramad ,velagapudih ,sivasankaranm,manoharv,amenon',
'DBASGOLDADMIN_READONLY': 'User_Alias DBASGOLDADMIN_READONLY= pkrishnamurthy,svc.vhealth',
'MYLEARN_READONLY': 'User_Alias MYLEARN_READONLY= psathian,cfadmin, bsangeetha, pba, rpaneendrana',
'MYLEARN_SVC_READONLY': 'User_Alias MYLEARN_SVC_READONLY= amerfield,corpfpa,corpit,edu,elearn,emt,emtgss,fast,gss,mpop,mvwready,mysqlbackup,ods,optin,paudit,revstream,stt,etl,bi2014,certs,etluser',
'FMWTMPROOT_READONLY': 'User_Alias  FMWTMPROOT_READONLY = nmoorthy,singhdi,minuk,tanurag,hennekat,smadhumitha',
'FMWTMP_READONLY': 'User_Alias  FMWTMP_READONLY = svc.intgmon,svc.intgauto',
'VINSIGHT_LOCAL_READONLY': 'User_Alias VINSIGHT_LOCAL_READONLY = autouser',
'SRCXROOT_READONLY': 'User_Alias SRCXROOT_READONLY = pranjansatp, amsingh, wqiu, athankachan, ksujit, msinghpanwar, mpurohit, araghupathy, wliu, shgautam,dsudipta,aneogy,hsawant',
'SONR_READONLY': 'User_Alias SONR_READONLY = anandku, hennekat, psudan,vsrirangaraj',
'TAPADMIN_READONLY': 'User_Alias TAPADMIN_READONLY = pbidarahalli, schikkajalash, athrivikrama, svc.vtapuser, rpothukuchi',
'VAULT_READONLY': 'User_Alias VAULT_READONLY = erong, mpanchal, tleung, javalkarc,asreekumar, rpaneendrana,rprasadh,singhaniar,arahaman,ssudhanshu,sbhavika,sahuga',
'VEADMIN_READONLY': 'User_Alias VEADMIN_READONLY = vthota, muralia, aimmidisetty, palv, amanpreets, sdevender, phalalingaiah, adeeshh',
'DEVSCOPS_SSC_READONLY': 'User_Alias DEVSCOPS_SSC_READONLY = ratnesht,anirudhb, arohit, mkumarg, bawariyal, meby, deepeshp, babhisek',
'DEVSCOPS_ADMIN_READONLY': 'User_Alias DEVSCOPS_ADMIN_READONLY = ratnesht,deployadmin',
'SC_DEV_READONLY': 'User_Alias SC_DEV_READONLY = jizhou, jseema, jclee',
'VFCADMIN_READONLY': 'User_Alias VFCADMIN_READONLY = sasaurav, bheemeshc, selvakumarm, kalakuntala, cshitanshu, smadhumitha',
'VFCADMIN1_READONLY': 'User_Alias VFCADMIN1_READONLY = dharichandan',
'VELP_READONLY': 'User_Alias VELP_READONLY = msmit',
'ITSOX_READONLY': 'User_Alias ITSOX_READONLY = psudan, srathinakumar, deployadmin',
'CBRREPO_READONLY': 'User_Alias CBRREPO_READONLY = pvaish',
'IGNITE_DEV_READONLY': 'User_Alias IGNITE_DEV_READONLY = jasonwong',
'INTEGRATION_READONLY': 'User_Alias INTEGRATION_READONLY = rajamuthua,rpoonati,selvakumarm',
'SUDOHQADMIN_READONLY': 'User_Alias SUDOHQADMIN_READONLY = ksaxena,sureshan,rajeshprasad,tfilev,pawandvk,snerune,vpuppala',
'MKTG_READONLY': 'User_Alias MKTG_READONLY = sachdevaay,gurdarshanb,srabakavi,tmuniyandi',
'DEV_SWARM_READONLY': 'User_Alias DEV_SWARM_READONLY = psudan,asethumadhav,hennekat',
'MAVEN_READONLY':'User_Alias MAVEN_READONLY = psudan,anandku',
'DATASCI_ADMIN':'User_Alias DATASCI_ADMIN = %g.eda_aa_ds_coe',
'MGOAUTO_ADMIN':'User_Alias MGOAUTO_ADMIN = %g.mongodbadmin,%g.mongodbdba',
'SLDEVADMIN_READONLY': 'User_Alias SLDEVADMIN_READONLY = udeepak,abtripathi',
'WELLBNG_READONLY': 'User_Alias WELLBNG_READONLY = bheemeshc,singhpanwarm,anandabhishe,sapkalh,sourabhj,patili,pfanse',
'WEBWCM_READONLY': 'User_Alias WEBWCM_READONLY = sdanielyan,sumesh,jean,kcr',
'CHAOSADMIN_READONLY': 'User_Alias CHAOSADMIN_READONLY = bhandarit,chaos,dvellanki,sasaurav',
'MIDDLEWARE_READONLY': 'User_Alias MIDDLEWARE_READONLY = shaws,rchennam,mboya,rpoonati',
'VSANTOOLS_GURU': 'User_Alias VSANTOOLS_GURU = %g.vsantools_gurus',
'VVPNPRD_READONLY': 'User_Alias VVPNPRD_READONLY = pdobe, kunalj, ssharma5',
'AVI_READONLY': 'User_Alias AVI_READONLY = mohapatrab,aarumugam,ppanwar,srakshiit,kkumarbutta,ksourangshu,spurnima',
'CONFDBA_READONLY': 'User_Alias CONFDBA_READONLY = raghavendrav,aleempasham,sanjays,vsrirangaraj',
'DRUSER_READONLY': 'User_Alias DRUSER_READONLY = svc.it-dr',
'INFASVC_READONLY': 'User_Alias INFASVC_READONLY = infasvc',
'LRP_READONLY': 'User_Alias LRP_READONLY = svc.myvmwgitaccount',
}%}#######################{% extends "saltstack/vra-terraform/saltstates/sudo/files/sudoer.jinja" %}
