[client]
port = 3306
#socket = /etc/mysql.sock

[mysqld]
port = 3306
socket= /var/lib/mysql/mysql.sock
secure-file-priv = ""
pid-file=/var/run/mysqld/mysqld.pid
user = mysql                                     ### Just in case your current configuration is not using default values.
datadir = /opt/mysql                             ### This must point to the main MySQL data directory.

# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin

 default-authentication-plugin=mysql_native_password

### General Server Options:
#=================================

log-error=/var/log/mysql/mysqld.log
max_allowed_packet = 32M                         ### Default packet limit is almost always too small.
max_connections = 400                            ### Max connections as well (sleeping threads are okay to have)
max_connect_errors=999999
table_open_cache_instances = 8                   ### Table open cache instances - be sure to set this on MySQL 5.6.
open_files_limit = 3000                          ### Increase the number of file descriptors, we're not in stone age now.
tmp_table_size = 64M
max_heap_table_size = 64M                        ### Incease limits for implicit and explicit temporary tables.
tmpdir = /tmp                                    ### Don't use tmpfs for tmpdir, or AIO will be disabled. And make sure There's enough room for temporary tables and files (usually 2-5GB)
default_storage_engine = InnoDB                  ### Default storage engine in most cases should be InnoDB. If in doubt:

### Binary logging section - Enable Below Parameters to configure REPLICATION - MASTER
#======================================================================================

server_id = 13401                                  ### Enabling binlog as well as unique server_id for point in time recovery and, potentially, replication.
log_bin=/var/log/mysql/binlogs/mysql-bin.log
max_binlog_size = 1G                             ### Don't have large binary logs, with file systems like ext3 this could cause stalls.
master_info_repository = TABLE
expire_logs_days = 7                           ### Control the amount of binary logs server is allowed to keep (in days)
sync_binlog = 0                                ### Disabling sync-binlog for better performance, but do consider the durability issues:
binlog_format = MIXED                          ### For the binary log format, I recommend MIXED, but it's up to you.

###Enable Below Parameters to configure REPLICATION - SLAVE  (Don't Forget to Disable above REPLICATION MASTER parameters)
#======================================================================================================================

#server_id = 102
#read-only=1                                     ### Enable this only for Slave Node.
#relay_log_info_repository = TABLE               ### If you're on MySQL 5.6 or MySQL 5.7, store the binlog position to TABLE rather than FILE (that way position is in sync with db)
#relay-log=/var/log/mysql/mysql-relay.log
#expire_logs_days = 7                           ### Control the amount of binary logs server is allowed to keep (in days)
#sync_binlog = 0                                ### Disabling sync-binlog for better performance, but do consider the durability issues:
#binlog_format = MIXED                          ### For the binary log format, I recommend MIXED, but it's up to you.

### MyISAM Specific Options:
#==================================

key_buffer_size = 256M
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M


### InnoDB Specific Options:
#==================================

innodb_data_home_dir =/opt/mysql/
innodb_data_file_path = ibdata1:10M:autoextend
innodb_temp_data_file_path=ibtmp1:20M:autoextend:max:50G
innodb_buffer_pool_size = 4G                    ### Set the innodb buffer pool size to 75-80% of total memory (dedicated):
innodb_log_file_size = 512M                       ### Allow 1-2h worth of writes to be buffered in transaction logs:
innodb_log_buffer_size = 16M                    ### Don't sweat about about this, just set it to 16M.
innodb_flush_log_at_trx_commit = 0              ### This, OTOH is really important. See:
innodb_flush_method = O_DIRECT                  ### On Linux, just leave it set to O_DIRECT.
innodb_buffer_pool_instances = 4                ### Set this depending on MySQL version. Available since 5.6  In 5.6, set to 4  In 5.7, set to 8
innodb_log_files_in_group = 4
innodb_thread_concurrency = 8                   ### Yes, this is not an error. Use 0 only for benchmarks and if you're nowhere near saturating your server.
innodb_adaptive_hash_index_parts = 16           ### MySQL 5.7 only AHI is a common bottle-neck, however few versions of MySQL support AHI partitions:
innodb_checksum_algorithm = crc32               ### MySQL 5.6 or newer Hardware acceleratorion for checksums
innodb_read_io_threads = 16
innodb_write_io_threads = 16                    ### This isn't super important to fine tune, but it's good to aling it to number of availble read / write spindles
innodb_file_per_table
innodb_page_cleaners = 8                        ### MySQL 5.7 only. On a write-heavy environment, use this to gain even more control over the flushing activity. Not tested too wildly.

### Slow query log (mostly Percona XtraDB Specific)
#======================================================

#slow_query_log_file = /var/log/mysql/mysql-slow.log
#long_query_time = 10                            ### Log queries that take > 1Os to execute
#slow_query_log = 1                              ### Enable the slow query logging
